:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --lightBrown:#928888;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Inconsolata', monospace !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
 .text-title { 
  font-family: 'Abril Fatface', cursive; 
  letter-spacing: 0.3rem; 
  text-transform: uppercase; 
} 

.text-blue{
  color: var(--mainBlue);
}
 .text-bright{
  color: var(--lightBlue);
} 
